.recipes {
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.search-form {
    border-radius: 10px;
    box-shadow: #777;
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
    box-sizing: border-box;

}
.search-bar1 {
    display: block;
    position: relative;
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 1em;
    color: #777;
    width: 100%;
}
.search-bar2 {
    display: block;
    position: relative;
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 1em;
    color: #777;
    width: 100%;
}